body {
  background-color: #333;
  color: white;
}

.centered {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links line {
  stroke: lightgray;
}

div.tooltip {
  position: absolute;
  text-align: left;
  padding: 5px;
  font-size: 16px;
  background: lightgray;
  color: black;
  border: 0px;
  border-radius: 2px;
  pointer-events: none;
}
